@using doan_dbsm.Models.DATA;
@model IEnumerable<DETAIL_ORDER>
@{
    ViewBag.Title = "Bill";
    Layout = "~/Areas/admin/Views/Shared/Sharelayout.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet">
@{ 
 
}
<div class="containe " id="containe">
    <div class="container border p-5">



        <div class="row pb-5 mt-5 ">
            <div class="col-sm-4 ">
                <h5 class="font">ShopUTE</h5>
                <small class="font">so 1 vo van ngan</small>

            </div>
            <div class="col-sm-8 ">
                <h5 class="float-right font ">
                    INVOICE
                </h5>

            </div>

        </div>
        <div class="row ">
            <div class="col-sm-3">
                <h5>Bill To</h5>
                <p class="font">@ViewBag.tenkhachhang</p>
            </div>
            <div class="col-sm-3">
                <h5>Ship To</h5>
                <p class="font">@ViewBag.thanhpho,@ViewBag.diachi </p>
               
              
            </div>
            <div class="col-sm-3">
                <h5>Invoice#</h5>
                <p class="mb-1"> Date </p>
                <p>Tel/Fax </p> 
            </div>
            <div class="col-sm-3">
                <h5 >ute-01</h5>
                <p class="mb-1">  @ViewBag.ngay </p>
                <p > 08 37225221 </p>
            </div>
        </div>
        <div class="row mt-5 pt-2">
            <div class="col-sm-12">
                <table class="table ">
                    <thead class="thead">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>

                            <th scope="col">Prices</th>
                            <th scope="col">Amount</th>
                            <th scope="col">total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ 
                            int tongsoluong = 0;
                            int tonggia = 0;
                        }
                        @foreach (var item in Model)
                        {
                            int s = int.Parse( item.Quantity.ToString()) * int.Parse(item.PRODUCT.prices);
                            tongsoluong = tongsoluong + @item.Quantity;
                            tonggia = tonggia + s;
                        <tr>
                            <td>@item.PRODUCT.product_id</td>
                            <td>@item.PRODUCT.product_Name</td>
                            <td>@item.PRODUCT.prices$</td>
                            <td>@item.Quantity</td>



                            <td>@s$</td>
                        </tr>
                        }


                    </tbody>

                </table>
            </div>
        </div>
        <div class="row mt-3 ">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-3 ">
                <p class=" font ">
                    Subtotal: @tongsoluong
                </p>

            </div>
            <div class="col-sm-3 ">
                <p class=" font">
                    Tổng Giá: @tonggia$
                </p>

            </div>
        </div>
        <div class="container mt-5 pt-5">
            <p>Terms & Conditions</p>
            <small>Payment is due within 15 day </small>
            <br>
            <small> Please make checks </small>
        </div>
    </div>
    <div class="mt-3 ml-2 indonhang "id="indonhang">
        <button type="button" class="btn btn-secondary px-4 py-1 ">Print bill</button>
    </div>
</div>


<script>
    $(".indonhang").click(function () {
        var content = $(".containe").html();
        InDonHang(content);
    })

        function InDonHang(content)
        {
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write('<html><head><title>DIV Contents</title>');
            printWindow.document.write('</head><body >');
            printWindow.document.write(content);
            printWindow.document.write('</body></html>');
            printWindow.document.close(); printWindow.print();
        }
</script>
<style>
    .font {
        font-family: 'Alata', sans-serif;
    }

    .containe {
        padding: 0 20%;
    }
</style>

